assets/node-red_flows/flows.json
[{"id":"ff40736f.58b27","type":"tab","label":"Antares","disabled":false,"info":""},{"id":"cfde1049.8b6cb","type":"mqtt in","z":"ff40736f.58b27","name":"MQTT in","topic":"/oneM2M/resp/antares-cse/bcc9494dadf45308:4d315a28f54c502e/json","qos":"1","datatype":"utf8","broker":"2bea9685.674c1a","x":370,"y":380,"wires":[["22cacd99.40ecc2","fd62947e.68b008"]]},{"id":"22cacd99.40ecc2","type":"json","z":"ff40736f.58b27","name":"","property":"payload","action":"","pretty":true,"x":530,"y":380,"wires":[["7644fc0f.03e674"]]},{"id":"d8f6ccd2.e8c7d","type":"debug","z":"ff40736f.58b27","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":500,"wires":[]},{"id":"fd62947e.68b008","type":"debug","z":"ff40736f.58b27","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":500,"wires":[]},{"id":"1755f89.c3fb707","type":"json","z":"ff40736f.58b27","name":"","property":"payload","action":"obj","pretty":false,"x":910,"y":460,"wires":[["b66951d9.311a","a4711f3e.405c8"]]},{"id":"7644fc0f.03e674","type":"change","z":"ff40736f.58b27","name":"Get payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.m2m:rsp.pc.m2m:cin.con","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":460,"wires":[["1755f89.c3fb707"]]},{"id":"b66951d9.311a","type":"function","z":"ff40736f.58b27","name":"Get TVOC Value","func":"if (msg.payload.port != 3) {\n    return null;\n}\nmsg.topic = \"TVOC\";\nmsg.payload = parseInt(msg.payload.data)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":500,"wires":[["d8f6ccd2.e8c7d","aae8f2cb.69c62"]]},{"id":"aae8f2cb.69c62","type":"ui_chart","z":"ff40736f.58b27","name":"","group":"7208b1f4.f8ebe","order":3,"width":0,"height":0,"label":"TVOC","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"Waiting for TVOC data","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1290,"y":560,"wires":[[]]},{"id":"a4711f3e.405c8","type":"function","z":"ff40736f.58b27","name":"Get CO2 Value","func":"if (msg.payload.port != 2) {\n    return null;\n}\nmsg.topic = \"CO2\";\nmsg.payload = parseInt(msg.payload.data)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":440,"wires":[["a4cf6bb8.7429a8","f0c24407.9c2778"]]},{"id":"a4cf6bb8.7429a8","type":"ui_chart","z":"ff40736f.58b27","name":"","group":"7208b1f4.f8ebe","order":1,"width":0,"height":0,"label":"CO2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"Waiting for CO2 data","dot":false,"ymin":"400","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1290,"y":400,"wires":[[]]},{"id":"f0c24407.9c2778","type":"ui_gauge","z":"ff40736f.58b27","name":"","group":"12ce0745.f7e2b9","order":0,"width":"0","height":"0","gtype":"gage","title":"CO2","label":"ppm","format":"{{value}}","min":"400","max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"1600","x":1290,"y":440,"wires":[]},{"id":"2bea9685.674c1a","type":"mqtt-broker","name":"Antares MQTT","broker":"mqtt.antares.id","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7208b1f4.f8ebe","type":"ui_group","name":"Charts","tab":"e10ae288.901c","order":1,"disp":true,"width":"8","collapse":false},{"id":"12ce0745.f7e2b9","type":"ui_group","name":"Values","tab":"e10ae288.901c","order":2,"disp":true,"width":"6","collapse":false},{"id":"e10ae288.901c","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]